// $primary-color: #e5e9f0;
// $secondary-color: #eceff4;
// $font-color: #2e3440;
// $bg-color: #d8dee9;

// @media (prefers-color-scheme: dark) {
$primary-color: #3b4252;
$secondary-color: #434c5e;
$font-color: #e5e9f0;
$bg-color: #2e3440;
// }
html {
	height: -webkit-fill-available;
}
body {
	padding: 0;
	margin: 0;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	width: 100%;
	max-height: 100vh;
	color: $font-color;
	background: $bg-color;
	font-size: 14px;
	letter-spacing: 1px;
}
.image__profile {
	width: 45px;
	height: 45;
	border-radius: 50%;
}
.container {
	height: 100vh;
	max-height: 100vh;
	width: 100%;
}
.main__ {
	width: 100%;
	height: 100vh;
	display: grid;

	grid-template-columns: 300px auto;

	align-items: center;
	.sider_chat {
		height: 100vh;
		width: 100%;
		max-height: 100vh;
		grid-column-start: 1;
		grid-column-end: 2;
		background-color: $primary-color;
	}
	.chat_messages {
		height: 100%;
		width: 100%;
		grid-column-start: 2;
		grid-column-end: 3;
		background: $bg-color;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		.chat_date {
			text-align: right;
			font-weight: lighter;
		}
		.chat_messages_container {
			width: 100%;
			height: 100%;
			padding: 10px;
			overflow-y: auto;
			box-sizing: border-box;
			.chat_bubble_message_text {
				font-size: 1.1rem;
				margin-bottom: 5px;
			}
			.chat_bubble_message_to {
				height: auto;
				width: 100%;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				margin: 10px 0;
				.chat_bubble_message {
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					padding: 15px;
					background-color: $secondary-color;
					border-radius: 15px;
				}
			}
			.chat_bubble_message_from {
				height: auto;
				width: 100%;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				margin: 10px 0;
				.chat_bubble_message_ {
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					padding: 15px;
					background-color: $secondary-color;
					border-radius: 15px;
				}
			}
			.chat_blanco {
				margin-top: 10px;
				display: flex;
				width: 100%;
				justify-content: center;
				span {
					padding: 10px;
					text-align: center;
					border-radius: 15px;
					background-color: $secondary-color;
				}
			}
		}

		.chat_form_message {
			max-width: 100%;
			background: $primary-color;
			display: flex;
			fieldset {
				border: none;
				width: 100%;
				display: flex;
				gap: 5px;
				padding: 10px;
				input[type="text"] {
					width: 100%;
					border-radius: 15px;
					border: none;
					padding: 10px;
				}
				button {
					border: none;
					background-color: $secondary-color;
					color: $font-color;
					border-radius: 15px;
					padding: 0 10px;
					&:hover {
						background-color: $primary-color;
					}
				}
			}
		}
	}
	.sider_header {
		padding: 10px;
		border-bottom: 2px solid $bg-color;
		height: 50px;
		max-width: 100%;
		display: flex;
		align-items: center;
		gap: 20px;
	}
	.sider_data_profile {
		width: 100%;
	}
	.loguot {
		cursor: pointer;
	}
	.sider_status {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
		width: 100%;
	}
	.chats_container {
		width: 100%;
		height: auto;
		max-height: calc(100vh - 50px);
		overflow-y: hidden;
		max-width: 100%;
		display: flex;
		box-sizing: border-box;
		flex-direction: column;
		gap: 10px;
		padding-top: 10px;
		justify-content: flex-start;
		.chats_onlines {
			padding: 10px;
			text-align: center;
			font-weight: 500;
		}
		.chat_element {
			&:hover {
				background: $secondary-color;
				cursor: pointer;
			}
			box-sizing: border-box;
			padding: 10px;
			display: flex;
			flex: auto;
			width: 100%;
			gap: 10px;
			align-items: top;
			.chat_img_profile {
				height: 100%;
				img {
					border-radius: 50%;
					max-width: 50px;
					max-height: 50px;
				}
			}
			.chat_content {
				width: 100%;
				height: auto;
				display: flex;
				justify-content: center;
				align-items: center;
				.chat_name {
					font-size: 1.2em;
				}
				.chat_message {
					max-width: 190px;
					max-height: 100%;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
			.message_count {
				display: flex;
				flex-direction: column-reverse;
				align-items: center;
				.bubble_count {
					border-radius: 50%;
					height: 20px;
					width: 20px;
					background-color: $bg-color;
					display: flex;
					justify-content: center;
					align-items: center;
					color: $font-color;
					font-weight: 500;
				}
			}
		}
	}
}

.login_main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	.login_form {
		background-color: $secondary-color;
		max-width: 300px;
		width: 100%;
		padding: 10px;
		.login_head {
			text-align: center;
			color: $font-color;
		}
		.login_form_ {
			padding: 10px;
		}
	}
}
.titulo {
	font-size: 2rem;
	font-weight: bold;
}
.form_imput {
	display: flex;
	flex-direction: column;
	padding: 5px 0;
	width: 100%;
	label,
	input {
		margin: 5px 0;
	}
	.input_form {
		padding: 5px 0;
		border: none;
		color: $secondary-color;
		input {
			width: auto;
		}
	}
	button {
		height: 45px;
		width: 100%;
		background-color: $primary-color;
		color: $font-color;
		border: none;
	}
}
